[flake8]
# Increase limit for better readability of data reports and strings
max-line-length = 130

# Folders to ignore (don't lint build artifacts or hidden git files)
exclude =
    __pycache__,
    .git,
    dist,
    build,
    *.egg-info

# Ignore specific whitespace rules to allow for better manual alignment
extend-ignore =
    E203,
    W503,
    E221,
    E251,
    E272,
    E127